[submodule "transcriptions"]
	path = transcriptions
	url = git@github.com:estoriadigital/Transcriptions.git
[submodule "edition/src/assets"]
	path = edition/src/assets
	url = git@github.com:estoriadigital/shared-edition-assets.git
