edition/critical
edition/reader/*
edition/transcription
edition/static/data/critical
edition/static/data/reader
edition/static/data/transcription
edition/static/data/menu_data.js
edition/static/data/indice.json
edition/package-lock.json
edition/node_modules
